:root{
    --white: #F7F7F7;
    --greenblue: #5E7B81;
    --lightblue: #CAD7D9;
    --brown: #BEB8A9; 
}


*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
font-family: 'mukta malar';
}
/*mobil style*/
/*body*/
body{
    background-color: var(--lightblue);
}
/*header*/
/* nav */
.topnav{
    background: #EFEFEF;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    justify-content: space-evenly;
}

.topnav img{
    height:35px ;
    width:35px;
}

.ddmenu img{
    display: none;
}
.ddmenu{
    display: none;
}


/* footer*/
footer{
    background:#EFEFEF;
    padding: 10px;
}

footer div{
    margin-top: 50px;
}

footer p{
    margin: 20px;
    font-size: 16px;
}

footer .icon div{
 display: flex;
 margin: 10px;
}

footer img{
height: 45px;
width: 45px;
}

/*index(forside)*/

.nyhed{
    position: relative;
    width: 100%;
    height: 400px;
    color: white;
    box-sizing: border-box;
}

.nyhed:after{
    position:absolute;
    content: '';
    background-image: url("img/cyklister-edit.jpg");
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(6deg);
    z-index: -1;

}

.nyhed h1 {
    font-size: 32px;
    padding-top: 70px;
    padding-left: 100px;
}

.nyhed p{
    font-size: 16px ;
    margin-top: 25px;
    margin-left: 100px;
}

.nyhed button{
    margin-left: 20%;
    margin-top: 50px;
}
.populærekategori{
    position: relative;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}

.populærekategori h2{
    text-align: center;
}



.værksted{
    position: relative;
    width: 100%;
    height: 400px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}

.værksted:after{
    position:absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: lightblue;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-6deg);
    z-index:-1;

}

.værksted h1{
    font-size: 32px;
    text-align: center;
}

.værksted p{
    font-size: 16px;
    margin-top: 25px;
    padding:0px 30px 20px 30px;
}

.værksted a{
    padding: 10px 30px;

}

.tilbud{
    width:100%;
    height: 300px;
    box-sizing: border-box;
}

.tilbud:after{
    position:absolute ;
    width: 100%;
    height: 50%;
    content: '';
    background-color: darkgrey;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(6deg);
    z-index: -1;
    margin-top: 1250px;

}

.miljø{
    position: relative;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 350px;
    box-sizing: border-box;
}

.miljø:after{
    position:absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url("img/gettyimages-168346757_web.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-6deg);
    z-index: -1;

}
.miljø h1, .lejencykel h1{
    font-size: 32px;
    text-align: center;
}

.miljø p, .lejencykel p{
    font-size: 20px;
    margin-top: 25px;
    padding: 0px 50px 20px 50px;
}

.miljø a, .lejencykel a{
    padding: 0px 50px;
}

.lejencykel{
    color:#fff;
    width:100%;
    height: 300px;
    box-sizing: border-box;
    
}

.lejencykel:after{
    position:absolute ;
    width: 100%;
    height: 40%;
    content: '';
    background-image: url("img/cyklister-edit.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(6deg);
    z-index: -1;
    margin-top: 1800px;

}

button{
    background-color: wheat;
    border: none;
    color: white;
    font-size:16px ;
    text-align: center;
    padding: 10px 100px;
    border-radius: 25px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-container {
    max-width: 300px;
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dotchange{
 text-align:center;
}



/*Mærker - Nicoline*/
.mærker-kort {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px 20px;
    padding: 100px;
    
  }
  .mærke {
    background-color: var(--white);
    box-shadow: 5px 10px 18px #a0b4b8;
    border-radius: 15px;
    padding: 10px;
    padding-left: 40px;
    text-align: center;
    height:110px;
    width: 160px;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }

/*
https://www.w3schools.com/css/tryit.asp?filename=trycss_grid
https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_grid-gap2
*/

@media (min-width:1000px){
/*pc style*/

/* nav style */
.topnav{
    background: #EFEFEF;
    padding-left: 90px;
    padding-right: 90px;
    display: flex;
    justify-content: space-evenly;
}

.topnav img{
    height:35px ;
    width:35px;
}

.ddmenu{/* drop down menu*/
    background-color: white;
    height: 60px;
    padding: 25px 90px 25px 90px;
       
}

.ddmenu img{
    width: 100px;
    height: 100px;
}

.ddmenu ul li{
    float: left;
    position: relative;
}

.ddmenu ul li a{/*skal skiftes*/
    display: block;
    font-family: Arial, Helvetica, sans-serif;/*menu font*/
    font-size: 24px;
    padding: 24px 24px;
}

.ddmenu ul li ul{
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;

}

.ddmenu ul li:hover ul{
    display: flex;
}

.ddmenu ul li:hover .ul2{
    display: flex;
    margin-top: 350px;
}

.ddmenu ul li ul li a{
    padding: 12px 14px;
}

.ddmenu ul li ul li a:hover{
    background-color:#f3f3f3;
}

.ddmenu .mere{
    float: right;
}
/*footer style*/

footer{
    display: flex;
    justify-content: space-between;
    padding-left: 95px;
    padding-right: 95px;
        
}

footer div{
    margin-top: 10px;
}

footer p{
    font-size: 20px;
}

}